body {
	background-color: #F5EFE6;
	color: #4B3832;
}

header {
	background-color: #8B5E3B;
	color: #FFFFFF;
}

main {
	background-color: #FFFFFF;
}

footer {
	background-color: #8B5E3B;
    color: #FFFFFF;
}